.App {
  text-align: center;
  background-color: #777e8d;
  min-height: 100vh;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

#gameContainer {
  margin: 10%;
  padding: 10%;
  background-color: #454952;
  border-radius: 10px;
}
