.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  max-height: 10vh;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  text-transform: capitalize;
  max-height: 10vh;
}

#gameContainer {
  display: table;
  flex-direction: column;
  margin: 0% 10% 2% 10%;
  background-color: #454952;
  border-radius: 10px;
}

#container {
  margin: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  background-color: #8e96a7;
  border: none;
  min-width: 50px;
  font-size: 25px;
  color: white;
  border-radius: 10px;
  padding: 1%;
  margin: 1%;
  text-align: center;
  text-transform: capitalize;
  border: 2px solid transparent;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid white;
}

p {
  font-size: 20px;
  color: white;
}

.figure-container {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
  width: 250;
  height: 250;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

#popupContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 20;
  animation: animatetop 0.4s;
  background: rgba(255, 255, 255, 0.7);
}

#popup {
  display: table;
  background-color: black;
  border-radius: 15px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 30%;
  height: 20%;
  text-align: center;
  position: relative;
}

#closeBtn {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

@media (max-width: 720) {
  p {
    font-size: 10dp;
  }

  button {
    font-size: 10dp;
    max-width: 30dp;
  }
}