.App {
  text-align: center;
  background-color: #777e8d;
  min-height: 100vh;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  max-height: 10vh;
}

#gameContainer {
  margin: 2% 10% 2% 10%;
  padding: 10%;
  background-color: #454952;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#container {
  margin: 1%;
  background-color: white;
  display: flex;
  justify-content: center;
}

button {
  background-color: #8e96a7;
  border: none;
  height: 40px;
  min-width: 50px;
  font-size: 25px;
  border-radius: 10px;
  padding: 5%;
  margin: 10%;
  text-align: center;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid white;
}